.tracks {
  display: flex;
  flex-wrap: wrap;
}

.track {
  width: 100px;
  height: 100px;
  text-align: center;
  color: white;
  font-weight: 600;
  background-color: #dee2e6;
  flex-grow: 1;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1.5s transform;
}

.track:hover {
  transform: scale(1.25);
  z-index: 2;
}

.track_artistName:hover {
  color: blue;
}
